{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slot creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Add Slot" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('events_index') }}">Go To index</a>
        </li>
    </ul>
{% endblock %}
